@model SuiviFinancier.Models.Budget

@{
    ViewData["Title"] = "Nouveau Budget";
}

<h1>Définir un budget</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Nom du Budget</label>
                <input asp-for="Name" class="form-control" placeholder="Ex: Budget Mensuel" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="control-label">Pour quelle catégorie ?</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label">Montant Limite</label>
                <input asp-for="Amount" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="StartDate" class="control-label">Date de Début</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="EndDate" class="control-label">Date de Fin</label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Annuler</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
